name: Symptum Web Editor Deployment
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  workflow_dispatch:  # Allows workflow to be ran via a button
jobs:
  deploy-to-github-pages:
    runs-on: windows-latest
    name: Deploy to GitHub Pages
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        path: main
    - name: Checkout Symptum.Data
      uses: actions/checkout@v4
      with:
        repository: symptum/Symptum.Data
        path: Symptum.Data
    - name: Correct Web Manifest Scope
      run: |
          cd ./main/src/Symptum.Editor/Symptum.Editor.Wasm/
          (Get-Content manifest.webmanifest) -Replace '/', '/editor/' | Set-Content manifest.webmanifest
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    - name: Restore Dependencies
      run: dotnet restore ./main/src/Symptum.Editor/Symptum.Editor.Wasm/Symptum.Editor.Wasm.csproj
    - name: Publish
      run: dotnet publish ./main/src/Symptum.Editor/Symptum.Editor.Wasm/Symptum.Editor.Wasm.csproj "-p:WasmShellWebAppBasePath=/editor/" --no-restore -f net8.0 -c Release -o out
    - name: Create Editor Folder
      run: mkdir editor
    - name: Copy Files to Editor Folder
      run: copy-item out\\wwwroot\\* editor -force -recurse -verbose
    # add .nojekyll file to tell GitHub pages to not treat this as a Jekyll project. (Allow files and folders starting with an underscore)
    - name: Add .nojekyll file
      run: touch editor/.nojekyll
    - name: Deploy to GitHub Pages
      uses: crazy-max/ghaction-github-pages@v2
      with:
        target_branch: gh-pages
        repo: symptum/editor
        build_dir: ./editor/
        author: Shankar <shankarbus04082001@hotmail.com>
        committer: Shankar <shankarbus04082001@hotmail.com>
        jekyll: false
      env:
        GITHUB_TOKEN: ${{ secrets.GH_PAT }}
